@import "bourbon/bourbon"
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700)
@charset "utf-8"

$infinite-delay: 999999999s
$light-green: #86d34a
$green: #7ac143
$br: 4px

*
  +box-sizing (border-box)

body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  background: #efefef

.wrapper
  margin: 100px auto 0
  width: 94%
  max-width: 400px

form
  padding: 40px
  border-radius: $br
  background: white
  box-shadow: 0 0 0 1px rgba(0,0,0,.05), 0 1px 3px rgba(black, .15)

input
  +transition (all .5s)
  color: #707070
  font-weight: 400
  border: none
  border-radius: $br
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 1px 3px rgba(black, .1)
  +placeholder
    color: rgba(#707070, .4)

  &:focus
    outline: none
    box-shadow: 0 0 0 1px $green, 0 0 8px $light-green

label
  font-size: 12px
  font-weight: 700
  color: #505050

.input-container
  margin: 0 auto 20px
  position: relative
  +clearfix

.text-input
  width: 100%
  padding: 30px 18px 8px
  display: block
  +placeholder
    +transition (opacity .4s)

  &:focus
    +placeholder
      +transition (opacity .4s)
      opacity: 0

  &:focus ~ .text-input-label
    +transform (translateY(0))
    opacity: 1

  &:focus ~ .show-input-error
    +transform (translateY(6px))
    opacity: 0

  &:valid ~ .text-input-label
    +transform (translateY(0))
    opacity: 1

.text-input-label
  +transition (all .4s)
  +transform (translateY(6px))
  opacity: 0
  position: absolute
  z-index: 999
  top: 10px
  left: 19px

  &.show-input-label
    +transform (translateY(0))
    opacity: 1

button
  +linear-gradient ($light-green, $green)
  +transition (opacity .4s)
  border-radius: $br
  font-weight: 700
  color: white
  width: 100%
  border: none
  text-shadow: 0 1px 1px rgba(0,0,0,.35)
  box-shadow: 0 1px 0 #5b9130, 0 0 0 1px #6aaa38
  padding: 9px 0 8px

  &:hover
    opacity: .8

  &:focus
    outline: none

